body{
    margin: 0 !important;
}
img {
    max-width: 100%;
}
/* header area */
.header-area{
    background: #86509C;
}
.section-f {
    display: flex;
    align-items: center;
}

.header-area  .logo-text{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: bold;
}
.header-area .logo:hover{
    color: #fff;
}

.nav-menu {
    text-align: center;
    margin: 0;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: tahoma;
    padding: 10px 20px;
    color: #fff;
    transition: .3s;
}
.nav-menu li a:hover:not(.active){
    color: #ccc;
    background: #333;
    border-radius: 5px;
    padding: 8px 25px;
}
.nav-menu li a.active {
    color: #fff;
    background: #333;
    border-radius: 5px;
    padding: 8px 25px;
}
/* header area */

/* header  banner */
.header-banner {
    text-align: center;
    margin-top: 120px;
    padding-bottom: 160px;
}
.header-banner h1 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.some-f {
    text-align: center;
}
/* header  banner */
.s-btn {
	display: inline-block;
	padding: 14px 35px;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: tahoma;
	font-size: 18px;
	color: #fff;
	text-decoration: none !important;
	letter-spacing: 1.3px;
	background: #EB7D4C;
	box-sizing: border-box;
    box-shadow: 0px 4px 0px #b85b33;
    transition: .3s;
}
.s-btn:hover {
    color: #fff;
    background: #e47748;
    text-decoration: none !important;
}


/* services area */

.services-area {
    padding: 60px 0;
    background: #18C2A5;
}
.services-area h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 5px 0;
}
hr{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top:1px solid #333;
    width: 60px;
    margin: 10px auto;

}
.services-area p {
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}
.con-box{
    width: 60%;
    margin:20px auto;
}

/* column */
.services-column {
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
}
.services-column h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
.services-column p {
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

/* team section */
.team-area {
    text-align: center;
    padding: 60px 0;
    background: #E7F2F8;
}
.h2 {
    text-transform: uppercase;
    color: #666;
    
}
.team {
    text-align: center;
    margin-top: 100px;
}
.team .img-div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.name-section {
    margin:  20px auto;
}
.name-section h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #444;
    margin: 0;
}
.name-section h4{
    font-size: 17px;
    text-transform: capitalize;
    color: #88DAE6;
    margin: 0;
}
.name-section h4 span {
    text-transform: uppercase;
}
.team p {
    font-size: 16px;
    color: #555;
}

.social-icon {}
.social-icon ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.social-icon li {
    display: inline-block;
    margin: 0 5px;
}
.social-icon li a {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #999;
	font-size: 20px;
	line-height: 38px;
}
.social-icon li a:hover {
    background: #777;
}
.social-icon li a i {
    color: #fff;
}


/* skills section  */
.skills-area {
    padding: 60px 0;
    text-align: center;
}

.skill-90 {
	height: 150px;
	width: 150px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    border: 10px solid #32B9E9;
    position: relative;
    z-index: 0;
    margin: auto;
    margin-top: 60px;
}
.white-space {
	height: 0;
	width: 0;
	border-bottom: 9px solid transparent;
	border-top: 40px solid transparent;
	border-left: 50px solid #fff;
	position: absolute;
	top: -7px;
	left: 24px;
	z-index: 1;
	transform: rotate(64deg);
}
.another-m {
    margin:  0 auto;
    text-align: center;
}

/* portfolio area */
.portfolio-area {
    padding:  60px 0;
    background: #FFDD99;
    text-align: center;
}

.nav-2 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.nav-btn {
    text-align: center;
}
.nav-btn li{
    display: inline-block;
}
.nav-btn li a{
    display: block;
    background: #ECC985;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-size: 17px;
}
.nav-btn li a:hover:not(.nav-btn .active){
    background: #fff;
}
.nav-btn .active {
    background: #fff;
}
/*  first portfolio  */
.first-portfolio {
    margin-bottom: 50px;
}
.first-portfolio h6 {
    color: #333;
    margin: 10px 0;
    text-transform: uppercase;
}

/* about area  */

.about-area {
    text-align: center;
    color: #fff;
    background: #D74681;
    padding-top: 120px;
    padding-bottom: 60px;
}
.about-area .img-h{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(img/men.jpeg) no-repeat;
    background-size: cover;
    background-position: top center;
}
.about-area blockquote p {
	font-size: small;
	margin-bottom: 44px;
}
.about-area .blockquote-footer {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.about-area span {
    display: block;
    color: #FFDD99;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 20px;
}

/* contact areaa */

.contact-area {
    background: #3C549A;
    color: #fff;
    text-align: center;
    padding: 120px 0;
}
.contact-area .display-5 {
    text-transform: uppercase;
}
.contact-area form {
    margin-top:60px ;
    margin-bottom: 30px;
}
.contact-area input[type="text"],
.contact-area input[type="email"], 
.contact-area textarea {
	box-sizing: border-box;
	background: #273A72;
	color: #fff;
	font-size: 18px;
	margin-bottom: 25px;
	padding: 14px 31px;
}
.contact-area textarea:focus{
    background: #273A72;
    color: #fff;
}
.contact-area a.s-btn{
    margin-top: 40px;
    background: #30BAE8;
}
.contact-area a.s-btn:hover {
    background: #1b8bb1;
}


/* footer area */

.footer-area {
    padding: 60px 0;
    background: #344B8F;
}
.footer-area ul {
    text-align: justify;
    list-style: none;
}
.footer-area ul li{
    display: inline-block;
}
.footer-area ul li a{
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
    margin: 0 15px;
}
.footer-area ul a.active {
    color: #30BBE4;
}
.footer-area ul li a:hover:not(.active){
    color: #30BBE4;
}
.team-box hr {
    display: none;
}
.ekta {
    display: none;
}


/* Let's Do Responsive */
@media all and (max-width: 992px) {

    .footer-area ul li a {
        margin-bottom: 20px;
    }
    .about-area .container {
        max-width: 100%;
    }
    .skills-area .container {
        max-width: 100%;
    }
    .skills-area .con-box {
        width: 100%;
        margin: auto;
    }

    .team-box {
        width: 70%;
        margin: 20px auto;
    }
    .team-box hr{
        display: block;
        margin-top : 15px;
    }
    .nav-menu li {
        display: block;
    }
    .nav-menu {
        text-align: right;
    }
    .nav-menu li a {
        margin: 15px 0;
        display: block;
    }
    .nav-menu li a:hover:not(.active){
        padding: 10px 30px;
    }
    .ekta {
        display: block;
    }
}


@media all and (max-width: 768px) {
    .about-area .img-h{
        margin:20px auto;
    }
    .about-area .h1 {
        font-size: 20px;
    }  
    .about-area blockquote {
        width: 60%;
        margin: auto;
        text-align: center !important;
    }
    .about-area blockquote p {
        margin-bottom: 10px;
    }
    .skill-90 {
        margin: auto;
    }
    .another-m {
        margin: 50px auto !important; 
    }
    .skills-area .container {
        max-width: 100%;
    }
    .skills-area .con-box {
        width: 100%;
        margin: auto;
    }
    .team-box hr{
        display: block;
        margin-top : 15px;
    }
    .nav-menu li {
        display: block;
    }
    .ekta {
        display: block;
    }
}